<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	metadata-complete="true" version="2.5">

	<display-name>Spring MVC Application</display-name>

	
	<context-param>
		<param-name>logbackConfigLocation</param-name>
		<param-value>classpath:/logback.xml</param-value>
	</context-param>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/spring/spring-context-*.xml</param-value>
	</context-param>
	
	<!-- Logback 助手配置:能查看 Logback 状态  -->
	<servlet>
		<servlet-name>ViewStatusMessages</servlet-name>
		<servlet-class>ch.qos.logback.classic.ViewStatusMessagesServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ViewStatusMessages</servlet-name>
		<url-pattern>/logbackStatus</url-pattern>
	</servlet-mapping>

	<!-- 使用 Logback Tee Filter 过滤记录 HttpRequest 和 HttpResponse 的数据  -->
	<filter>
		<filter-name>TeeFilter</filter-name>
		<filter-class>ch.qos.logback.access.servlet.TeeFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>TeeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 让spring使用slf4j的实现logback作为日志输出 -->
	<listener>
		<listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	

	<!-- 处理编码问题 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:/spring/spring-mvc-*.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


	<jsp-config>
		<!-- <taglib> <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri> 
			<taglib-location>/WEB-INF/tld/c.tld</taglib-location> </taglib> <taglib> 
			<taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri> <taglib-location>/WEB-INF/tld/fmt.tld</taglib-location> 
			</taglib> -->
	</jsp-config>


	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>