<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudwave.cycletrail.mapper.CtAtUserMapper">

	<resultMap id="ct_atuser_map" type="CtAtUser">
		<id property="id" column="id_" javaType="long" />
		<result property="objId" column="obj_id" />
		<result property="userId" column="user_id" />
		<result property="hasRead" column="hasread_" />
	</resultMap>

	<insert id="insert" parameterType="CtAtUser" >
		insert into ct_at_user au (au.obj_id, au.user_id, au.hasread_) values 
		(#{at.objId},#{at.userId},0)
	</insert>
	
	<insert id="insertAll" parameterType="list">
		insert into ct_at_user au (au.obj_id, au.user_id, au.hasread_) values 
		<foreach collection="list" item="at" separator=",">
		(#{at.objId},#{at.userId},0)
		</foreach>
	</insert>
	
	<sql id="ct_text_cols">id_,obj_id,user_id,hasread_</sql>
	
	
	<select id="get" parameterType="string" resultMap="ct_text_map">
		select <include refid="ct_text_cols"/> 
		from ct_text t 
		where t.id_ = #{id}
	</select>


</mapper>