<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace该是TradeDetailMapper的完整限定名 -->
<mapper namespace="com.cloudwave.cycletrail.mapper.CtTripMessageMapper">

	<!--定义java bean的属性与数据库表的列之间的映射。type="Student"用到了configuration.xml中定义的别名 -->
	<resultMap id="ct_tripmessage_map" type="CtTripMessage">
		<!--id映射 -->
		<id property="id" column="id_" javaType="long" />
		<!--普通属性映射 -->
		<result property="text" column="text_" />
		<result property="path" column="path_" />
		<result property="sendTime" column="sendtime_" />
		<result property="receiveTime" column="receivetime_" />
		<association property="user" column="user_id" javaType="User" select="get"/>
	</resultMap>

	<insert id="insert" parameterType="CtTripMessage" >
		insert into
		ct_trip_message(text_, path_, sendtime_, receivetime_, user_id)
		values(#{text}, #{path}, #{sendTime}, #{receiveTime}, #{user.id})
	</insert>
	<!-- 
	<insert id="insert" parameterType="CtTripMessage" >
		<selectKey keyProperty="id" resultType="string" order="BEFORE">
			select uuid() as id_
		</selectKey>
		insert into
			ct_travel_message(id_, text_, path_, sendtime_, receivetime_, user_id)
			values(#{id}, #{text}, #{path}, #{sendTime}, #{receiveTime}, #{user.id})
	</insert>
	 -->
	<sql id="ct_tripmessage_cols">id_,text_,path_,sendtime_,receivetime_,user_id</sql>
	<select id="get" parameterType="string" resultMap="ct_tripmessage_map">
		select <include refid="ct_tripmessage_cols"/> 
		from ct_trip_message tm 
		where tm.id_ = #{id}
	</select>

	<select id="load" parameterType="int" resultType="arraylist">
		select <include refid="ct_tripmessage_cols"/> 
		from ct_trip_message tm order by tm.sendtime_ desc limit 0,#{count}
	</select>
</mapper>